@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./imgs/Background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: green;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media (max-width: 1200px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 62.5%;
  }
}

/* .leaflet-control-zoom {
  height: 32px;
} */

@media (max-width: 640px) {
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    width: 2rem !important;
    height: 2rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 1rem !important;
    line-height: 32px;
  }
}
